@font-face {
    font-family: 'ArianAMU';
    src: url('../fonts/arianAmu/ArianAMU.eot');
    src: url('../fonts/arianAmu/ArianAMU.eot') format('embedded-opentype'),
         url('../fonts/arianAmu/ArianAMU.woff2') format('woff2'),
         url('../fonts/arianAmu/ArianAMU.woff') format('woff'),
         url('../fonts/arianAmu/ArianAMU.ttf') format('truetype'),
         url('../fonts/arianAmu/ArianAMU.svg#ArianAMU') format('svg');
}
@font-face {
    font-family: 'hp600Caps';
    src: url('../fonts/hp600Caps/hp600Caps.eot');
    src: url('../fonts/hp600Caps/hp600Caps.eot') format('embedded-opentype'),
         url('../fonts/hp600Caps/hp600Caps.woff2') format('woff2'),
         url('../fonts/hp600Caps/hp600Caps.woff') format('woff'),
         url('../fonts/hp600Caps/hp600Caps.ttf') format('truetype'),
         url('../fonts/hp600Caps/hp600Caps.svg#hp600Caps') format('svg');
}
@font-face {
    font-family: 'ptserifcaption';
    src: url('../fonts/ptSerifCaption/ptserifcaption.eot');
    src: url('../fonts/ptSerifCaption/ptserifcaption.eot') format('embedded-opentype'),
         url('../fonts/ptSerifCaption/ptserifcaption.woff2') format('woff2'),
         url('../fonts/ptSerifCaption/ptserifcaption.woff') format('woff'),
         url('../fonts/ptSerifCaption/ptserifcaption.ttf') format('truetype'),
         url('../fonts/ptSerifCaption/ptserifcaption.svg#ptserifcaption') format('svg');
}
@font-face {
    font-family: 'quadrata';
    src: url('../fonts/quadrata/quadrata.eot');
    src: url('../fonts/quadrata/quadrata.eot') format('embedded-opentype'),
         url('../fonts/quadrata/quadrata.woff2') format('woff2'),
         url('../fonts/quadrata/quadrata.woff') format('woff'),
         url('../fonts/quadrata/quadrata.ttf') format('truetype'),
         url('../fonts/quadrata/quadrata.svg#quadrata') format('svg');
}
